/* :root {
    --border-light: rgb(228, 228, 228);
    --background-light: rgb(240, 240, 240);
    --background: white;
    --text: rgb(20, 20, 20);
    --header-text: rgb(40, 40, 40);
    --paragraph-text: rgb(100, 100, 100);
} */
[data-theme="light"] {
    --border-light: rgb(228, 228, 228);
    --background-light: rgb(240, 240, 240);
    --background: white;
    --text: rgb(20, 20, 20);
    --header-text: rgb(40, 40, 40);
    --paragraph-text: rgb(100, 100, 100);
    --special-text-background-image-filter: brightness(100%);
}
[data-theme="dark"] {
    --border-light: rgb(53, 53, 53);
    --background-light: rgb(57, 57, 57);
    --background: rgb(18, 18, 17);
    --text: rgb(255, 249, 233);
    --header-text: rgb(185, 182, 176);
    --paragraph-text: rgb(167, 163, 154);
    --special-text-background-image-filter: brightness(200%);
}
* {
    box-sizing: border-box;
}
@font-face {
    font-family: "Integral Extra Bold";
    src: url("./fonts/Fontspring-DEMO-integralcf-extrabold.otf");
}
@font-face {
    font-family: "Integral Bold";
    src: url("./fonts/Fontspring-DEMO-integralcf-bold.otf");
}
@font-face {
    font-family: "Poppins Regular";
    src: url("./fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins Light";
    src: url("./fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: "Poppins Medium";
    src: url("./fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: "Noir Regular";
    src: url("./fonts/Medium\ 500.otf");
}
@font-face {
    font-family: "Space Grotesk";
    src: url("./fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Noir Bold";
    src: url("./fonts/Medium\ 800.otf");
}
.special-text {
    background-image: url("./200w.gif");
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background-size: cover; */
    background-size: 180%;
    background-position: center;
    filter: var(--special-text-background-image-filter);
}
body {
    color: var(--text);
    background: var(--background);
    padding: 0;
    margin: 0;
}
h2 {
    font-family: "Integral Bold";
    color: var(--header-text);
}
#title {
    font-family: "Integral Extra Bold";
    font-size: 24px;
    line-height: 0;
    margin: 0;
    user-select: none;
    margin-top: -3px;
    color: var(--text);
}
nav {
    border-bottom: 1px solid var(--border-light);
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 80px;
}
#nav-buttons {
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}
#nav-buttons > button:hover {
    transition: .3s ease;
    background: var(--background-light);
    cursor: pointer;
}
#nav-buttons > button {
    aspect-ratio: 1;
    height: 55%;
    border-radius: 7px;
    border: none;
    background: transparent;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}
#misc {
    margin-left: auto;
}
#misc > button {
    /* font-family: "Poppins Regular"; */
    cursor: pointer;
    padding: 6px 12px;
    font-size: 17px;
    /* background: transparent; */
    border-radius: 10px;
    border: none;
}
#toggle-mode {
    background: transparent;
    color: var(--text);
}
#toggle-mode:hover {
    background: var(--background-light);
}
#message {
    font-family: "Space Grotesk";
    background: var(--text);
    color: var(--background);
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: red; */
}
.box:nth-child(2) {
    height: calc(100vh - 60px);
}
.box-content {
    width: 600px;
}
.box-content > p {
    font-family: "Space Grotesk";
    color: var(--paragraph-text);
}

@media screen and (max-width: 767px) {
    #title {
        display: none;
    }
    #message {
        display: none;
    }
    .box-content {
        width: 80%;
        text-align: center;
    }
}